<div class="container">
  {{view "typing_area"}}
  <div>
    <div class="full-score-display">
      {{view "wpm_display"}}
      {{view "accuracy_display"}}
    </div>
    <div>
      {{view "player_scores"}}
    </div>
  </div>
</div>