<div class="container">
  {{typing-area typingArea=typingArea showCategory="showCategory"}}
  <div>
    <div class="full-score-display">
      {{wpm-display typingArea=typingArea}}
      {{accuracy-display typingArea=typingArea}}
    </div>
    <div>
      {{player-scores scores=scores}}
    </div>
  </div>
</div>