<div class="container">
  {{typing-area typing_area=typing_area showCategory="showCategory"}}
  <div>
    <div class="full-score-display">
      {{wpm-display typing_area=typing_area}}
      {{accuracy-display typing_area=typing_area}}
    </div>
    <div>
      {{player-scores scores=scores}}
    </div>
  </div>
</div>