<script type="text/x-handlebars">
  {{#view App.TypingArea}}
    <!-- white space becomes super-significant in this area -->
    <div class="type-panel" tabindex="0"><span class="before-cursor">{{text.beforeCursor}}</span><span {{bindAttr class=":type-cursor text.hasMistakes"}}>{{text.renderedCursor}}</span>{{text.afterCursor}}</div>

    {{#view App.FocusNag}}Click the text to start typing!{{/view}}
  {{/view}}

  <div class="full-score-display">
    {{#view App.WPMDisplay}}
      {{text.wpm}}<small> wpm</small>
    {{/view}}
    {{#view App.AccuracyDisplay}}
      {{text.accuracy}}%
    {{/view}}
  </div>
</script>

<script type="text/x-handlebars">
  {{#if App.scoresController.content.length}}
  <div class="blue-round player-scores">
    <h3>Your Scores</h3>
    <ul>
    {{#each App.scoresController}}
      {{#view App.ScoreListView contentBinding="this"}}
        <li>
        {{#with content}}
          <a href="/snippets/{{unbound snippet_id}}">Snippet {{snippet_id}}</a>: <strong>{{wpm}}</strong> wpm, <strong>{{accuracy}}%</strong> accurate.
        {{/with}}
      {{/view}}
    {{/each}}
    </ul>
  </div>
  {{/if}}
</script>
