{{#view "focus_nag"}}
  <div class="focus-nag-inner">Click the text to start typing!</div>
{{/view}}
<div class="type-panel" tabindex="0"><span class="type-area-category" {{action 'showCategory' view.text.category_id}}>{{{view.text.category_name}}}</span>{{{view.text.renderedText}}}</div>
