{{#if scores.model.length}}
  <div class="blue-round player-scores">
    <h3>Your Scores</h3>
    <table>
      <thead>
        <th>Snippet</th>
        <th>WPM</th>
        <th>Accuracy</th>
      </thead>
      <tbody>
        {{#each score in scores.model}}
          <tr>
            <td>{{#link-to 'snippet.index' score.snippet_id}}{{score.snippet_id}}{{/link-to}}</td>
            <td>{{score.wpm}}</td>
            <td>{{score.accuracy}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}