{{#focus-nag}}
  <div class="focus-nag-inner">Click the text to start typing!</div>
{{/focus-nag}}
<div class="type-panel" tabindex="0"><span class="type-area-category" {{action 'showCategory' text.snippet.categoryId}}>{{{text.snippet.categoryName}}}</span>{{{text.renderedText}}}</div>
