{{#if App.scoresController.model.length}}
  <div class="blue-round player-scores">
    <h3>Your Scores</h3>
    <ul>
      {{#each score in App.scoresController}}
        <li>
          {{#link-to 'snippet.index' snippet_id}}Snippet {{score.snippet_id}}{{/link-to}}: <strong>{{score.wpm}}</strong> wpm, <strong>{{score.accuracy}}%</strong> accurate.
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}