{{#if App.scoresController.content.length}}
  <div class="blue-round player-scores">
    <h3>Your Scores</h3>
    <ul>
      {{#each App.scoresController}}
        <li>
          {{#link-to 'snippet.index' snippet_id}}Snippet {{snippet_id}}{{/link-to}}: <strong>{{wpm}}</strong> wpm, <strong>{{accuracy}}%</strong> accurate.
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}