{{#view "prefs_popup_background"}}
  {{#view "prefs_popup_content"}}
    <h2>
      {{if controllers.session.user controllers.session.user.name 'Guest'}}'s preferences
    </h2>
    <ul>
      {{#each category in controllers.category_preferences}}
        <li>
          <label>{{input type='checkbox' checked=category.enabled}}{{category.name}}</label>
        </li>
      {{/each}}
    </ul>
    <div class="text-center">
      <button {{action 'savePreferences'}}>Save Preferences</button>
    </div>
  {{/view}}
{{/view}}
