<div class="type-panel" tabindex="0"><span class="type-area-category">{{{view.text.category_name}}}</span>{{{view.text.renderedText}}}</div>

{{#view "focus_nag"}}
  <div class="focus-nag-inner">Click the text to start typing!</div>
{{/view}}