body, html {
    background-image: url('/assets/project_papper.png');
}

.type-panel {
		margin-top: 20px;
    margin-bottom: 20px;

		font-size: 150%;
    font-family: Monaco, monospace;

		background-color: rgba(0, 0, 0, .75);
    color: #F8F8F8;

		border-radius: 10px;
		border-color: black;
		border-style: solid;
		border-width: 3px;

		white-space: pre;

		padding: 5px;

		outline: none;
}

.type-panel-unfocused {
		opacity: .2;
}

.type-panel b {
		color: #ccc;
}

.type-panel .type-cursor {
		color: green;
		text-decoration: underline;
}

.type-panel .type-mistakes {
		color: red;
		text-decoration: underline;
}

.full-score-display {
    float: right;
}

.stat-counter {
		width: 10em;
		padding: 5px;

		border-width: 2px;
		border-color: #82B6DD;

		border-top-style: solid;
		border-bottom-style: solid;

    display: inline-block;

		background-color: rgba(173, 216, 230, .75);
}

.stat-counter strong {
		font-size: 400%;
}

header {
		width: 50%;
		margin: 0px;
    margin-bottom: 20px;

		background-color: rgba(173, 216, 230, .75);
		padding: 10px;

		border-width: 2px;
		border-color: #82B6DD;

		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		border-left-style: solid;
		border-bottom-style: solid;
		border-right-style: solid;
}

header h1 {
		font-size: 300%;
    font-weight: bold;
}

nav {
    display: inline-block;
    padding: 5px;

    border-style: solid;
		border-width: 2px;
		border-color: #82B6DD;
		border-radius: 10px;

		background-color: rgba(173, 216, 230, .75);

    margin-bottom: 20px;
}

nav ul.nav-options {
    list-style-type: none;
}

nav ul.nav-options li {
    display: inline;
    margin-left: 10px;
}

nav ul.nav-options li:first-child {
    margin-left: 0px;
}


table.snippets th, table.snippets td {
    border: 1px solid black;
    padding: 4px;
}

textarea.snippet-editor {
    width: 50%;
}

.focus-nag {
		z-index: 10;
		padding: 10px;
		display: inline-block;
		font-size: 200%;
		position: absolute;
		background-color: rgb(240, 240, 240);
}

.focus-nag-hidden {
		visibility: hidden;
}

.player-scores {
    width: 30%;

    border-style: solid;
		border-width: 2px;
		border-color: #82B6DD;
    border-radius: 10px;

    padding: 10px;

		background-color: rgba(173, 216, 230, .75);
}

.log-in {
    float: right;
}