body, html {
    background-image: url('/assets/project_papper.png');
}

h1 {
    font-size: 200%;
}

.center-text {
    text-align: center;
}

.blue-round {
    border-style: solid;
		border-width: 2px;
		border-color: #82B6DD;
		border-radius: 10px;

		background-color: rgba(173, 216, 230, .75);
}

.type-area-container {
    display: none;
}

.type-panel {
		margin-top: 20px;
    margin-bottom: 20px;

		font-size: 12pt;
    font-family: Consolas, Menlo, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;

		background-color: rgba(0, 0, 0, .75);
    color: #F8F8F8;

		border-radius: 10px;
		border-color: black;
		border-style: solid;
		border-width: 3px;

		white-space: pre;

		padding: 5px;

		outline: none;
		opacity: .2;
}

.type-panel:focus {
    opacity: 1;
}

.type-panel .before-cursor {
		color: #888;
}

.type-panel .type-cursor {
		color: green;
		text-decoration: underline;
}

.type-cursor.has-mistakes {
		color: red;
		text-decoration: underline;
}

.full-score-display {
    float: right;
}

.stat-counter {
		width: 2.5em;
		padding: 5px;
    margin-left: 5px;

		border-width: 2px;
		border-color: #82B6DD;

		border-top-style: solid;
		border-bottom-style: solid;

    font-weight: bold;
		font-size: 400%;

    display: inline-block;

		background-color: rgba(173, 216, 230, .75);
}

.stat-counter small {
    font-size: 25%;
}

header {
		width: 50%;
		margin: 0px;
    margin-bottom: 20px;

		background-color: rgba(173, 216, 230, .75);
		padding: 10px;

		border-width: 2px;
		border-color: #82B6DD;

		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		border-left-style: solid;
		border-bottom-style: solid;
		border-right-style: solid;
}

header h1 {
		font-size: 300%;
    font-weight: bold;
}

header h1 a:link,
header h1 a:visited,
header h1 a:hover,
header h1 a:active {
    color: #333;
    text-decoration:none;
}

nav {
    display: inline-block;
    padding: 5px;

    margin-bottom: 20px;
}

nav ul.nav-options {
    list-style-type: none;
}

nav ul.nav-options li {
    display: inline;
    margin-left: 10px;
}

nav ul.nav-options li:first-child {
    margin-left: 0px;
}

div.user-scores {
    display: inline-block;
    padding: 5px;
}

table.thin-border th, table.thin-border td {
    border: 1px solid black;
    padding: 4px;
}

textarea.snippet-editor {
    width: 50%;
}

.focus-nag {
		z-index: 10;
		padding: 10px;
		display: inline-block;
		font-size: 200%;
		position: absolute;
		background-color: rgb(240, 240, 240);
}

.hidden {
		visibility: hidden;
}

.player-scores {
    width: 30%;
    padding: 10px;
}

.user-options {
    float: right;
}

.prefs-popup-bg {
    position: fixed;
    z-index: 50;
    background-color: rgba(100, 100, 100, .8);
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.prefs-link {
    color: #607890;
}

.prefs-link:hover {
    color: #036;
    text-decoration: underline;
    cursor: pointer;
}

.prefs-popup {
    padding: 10px;
    position: absolute;
    z-index: 100;
		background-color: rgba(173, 216, 230, .9);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.5) inset
}

.prefs-popup button {
    margin-top: 10px;
}

.prefs-popup ul {
    list-style-type: none;
}

.prefs-popup input {
    position: relative;
    display: inline;
}

.prefs-popup label {
    position: relative;
    display: inline;
    padding-left: .5em;
}