<script type="text/x-handlebars">
  <div>
    {{#view App.TypingArea}}
      <div {{bindAttr class="text.focusNagClass isFocused:focus-nag-hidden"}}>
        Click the text to start typing!
      </div>

      <!-- white space becomes super-significant in this area -->
      <div {{bindAttr class="text.className isBlurry:type-panel-unfocused"}} tabindex="0"
        ><b>{{text.beforeCursor}}</b><span class="type-cursor">{{text.atCursor}}</span><span class="type-mistakes">{{#each text.mistakes}}{{this}}{{/each}}</span>{{text.afterCursor}}</div>

    {{/view}}
  </div>

  <div class="full-score-display">
    {{#view App.WPMDisplay}}
      <span class="stat-counter"><strong>{{text.wpm}}</strong> wpm</span>
    {{/view}}
    {{#view App.AccuracyDisplay}}
      <span class="stat-counter"><strong>{{text.accuracy}}%</strong></span>
    {{/view}}
  </div>
</script>

<script type="text/x-handlebars">
  {{#if App.scoresController.content.length}}
  <div class="player-scores">
    <h3>Your Scores</h3>
    <ul>
    {{#each App.scoresController}}
      {{#view App.ScoreListView contentBinding="this"}}
        <li>
        {{#with content}}
          <a href="/snippets/{{unbound snippet_id}}">Snippet {{snippet_id}}</a>: <strong>{{wpm}}</strong> wpm, <strong>{{accuracy}}%</strong> accurate.
        {{/with}}
      {{/view}}
    {{/each}}
    </ul>
  </div>
  {{/if}}
</script>
