<div class="container">
  <nav class="blue-round">
    <ul class="nav-options">
      <li>{{#link-to 'snippets.index'}}Index{{/link-to}}</li>
    </ul>
  </nav>

  <h1>New snippet</h1>

  {{partial 'snippets/form'}}
</div>